/*Collapsible menu*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #343a40;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.ON, .collapsible:hover {
  background-color: #2487ce;
}

/* Style the collapsible content. Note: hidden by default */
.part {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Icons */
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.ON:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
